*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

main {
    margin-bottom: 5rem;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url('./assets/RightHeaderPicture.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem 2rem 10rem;
}

.right-header {
    width: 50%;
    padding-left: 7rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.menu span {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.menu span.active {
    border-bottom: 2px solid white;
}

.promo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15rem;
    margin-bottom: 5rem;
}

.text-promo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    width: 50%;
}

.text-promo h1 {
    font-size: 3.75rem;
    line-height: 1.1;
}

.text-promo p {
    font-size: 1.5rem;
}

.text-promo button {
    padding: 1rem 1.75rem;
    background-color: #68B738;
    font-size: 1.25rem;
    color: white;
    border: none;
    cursor: pointer;
}

.empty-promo {
    width: 28%;
}

main {
    padding: 0 10rem;
}

.weight-cards {
    display: flex;
    justify-content: space-between;
    margin: 6rem 2.5rem;
}

.card {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-mobile {
    display: none;
}

.card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

.card-header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    gap: 1rem;
}

.card-header h1,
.card-mobile h1 {
    font-size: 2.25rem;

    font-weight: 400;
    line-height: 24px;
}

.card-catalog {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.card-catalog p {
    font-size: 1.4rem;
}

.how-it-work h1 {
    font-size: 3.75rem;
    line-height: 3.75;
}

.steps {
    display: flex;
    justify-content: space-between;
    padding-right: 8rem;
}

.step {
    width: 15rem;
}

.steps p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444444;
    margin-top: 2rem;
}

.step-img {
    background-color: #68B738;
    width: fit-content;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.living-example {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.living-example-mobile {
    display: none;
}

.living-example h1,
.living-example-mobile h1 {
    font-size: 3.75rem;
    white-space: nowrap;
}

.example-description {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444444;
    margin-top: 2rem;
}

.example-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 5rem;
}

.example-price {
    display: flex;
    gap: 8rem;
}

.example-price-mobile {
    display: none;
}

.example-price p:first-child {
    text-transform: uppercase;
}

.example-price p {
    font-size: 1.25rem;
}

.example-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.weight-loss,
.time-spend {
    position: relative;
    width: 13.75rem;
    padding: 1rem 2rem;
    border: 2px solid #CDCDCD;
    background-color: #ffffff;
    text-align: center;
}

.weight-loss p:first-child,
.time-spend p:first-child {
    font-weight: 400;
    font-size: 1.875rem;
}

.weight-loss p:last-child,
.time-spend p:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 0 12px;
    background-color: #ffffff;
    white-space: nowrap;
    font-size: 0.875rem;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.slider {
    width: 35%;
    margin: auto;
}

.comparison-slider {
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
}

.comparison-slider img {
    position: absolute;
    height: 100%;
    display: block;
}

.img-before {
    z-index: 1;
}

.img-after {
    z-index: 2;
    clip-path: inset(0 50% 0 0);
    transition: clip-path 0.05s linear;
    will-change: clip-path;
}

#sliderRange {
    flex: 1;
    height: 6px;
    -webkit-appearance: none;
    background-color: #DCDCDC;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

#sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #68B738;
    border-radius: 50%;
    border: 7px solid #ffffff;
    box-shadow: 0 0 3px 2px #CDCDCD;
    cursor: pointer;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.controls span {
    text-transform: uppercase;
    font-size: 1.25rem;
}

.yandex-map {
    position: relative;
    overflow: hidden;
}

.banner {
    position: absolute;
    top: 5rem;
    left: 10rem;
    background-color: #ffffff;
    padding: 4rem 3rem;
    font-family: 'Oswald', sans-serif;
    z-index: 10;
    pointer-events: none;
    display: flex;
    width: 32%;
    justify-content: space-between;
}

.invite {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address p {
    font-size: 1rem;
    color: #444444;
    width: 70%;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
}

.text-logo {
    display: flex;
    gap: 5px;
}

.text-logo p {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.text-logo p:first-child {
    font-weight: 900;
}

.contacts-list {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.academy-logo {
    display: flex;
    gap: 1.5rem;
    font-family: Arial, sans-serif;
    color: #444444;
    align-items: center;
}

@media (max-width: 1200px) {
    header {
        background-image: none;
        padding: 0;
    }

    .header-container {
        padding: 2rem;
        justify-content: space-between;
        width: 90%;
    }

    .menu {
        padding: 0;
        gap: 1rem;
    }

    .menu span {
        color: black;
        font-size: 1rem;
    }

    .menu span.active {
        border-bottom: 2px solid #68B738;
    }

    body {
        padding: 0;
    }

    main {
        padding: 0 2rem;
    }

    .left-header img {
        width: 100%;
    }

    .right-header {
        width: auto;
        padding-left: 0;
    }

    .promo {
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20rem;
    }

    .text-promo {
        z-index: 2;
        padding: 0 5rem;
        margin-top: 3rem;
        width: 100%;
    }

    .promo img {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 700px;
        z-index: -1;
    }

    .weight-cards {
        flex-direction: column;
        width: 80%;
        align-items: center;
        gap: 7rem;
    }

    .card {
        display: none;
    }

    .card-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #weight-img {
        width: 30%;
    }

    #weight-img2 {
        width: 35%;
    }

    .text-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 60%;
    }

    .text-card p {
        font-size: 1rem;
    }

    .card-catalog p {
        font-size: 1.25rem;
    }

    .how-it-work h1 {
        width: 80%;
    }

    .steps {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 7rem;
    }

    .living-example {
        flex-direction: column;
        gap: 4rem;
    }

    .example-text {
        margin-top: 5rem;
        width: 100%;
        gap: 2rem;
    }

    .example-description {
        margin: 0;
        width: 80%;
    }

    .example-cards {
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
    }

    .slider {
        width: 70%;
        align-items: center;
        justify-content: center;
    }

    .example-price {
        display: none;
    }

    .example-price-mobile {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
    }

    .weight-loss,
    .time-spend {
        width: 30%;
        gap: 1rem;
    }

    .banner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .address {
        text-align: right;
    }

    .contacts {
        padding: 3rem 2rem;
    }
}