*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    font-family: "Oswald", sans-serif;
    padding-left: 8rem;
}

main {
    margin-bottom: 5rem;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url('./assets/RightHeaderPicture.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
    display: flex;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 7rem 0 0;
}

.right-header {
    width: 50%;
    height: 100%;
    padding-left: 7rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.menu span {
    font-size: 1.2rem;
    color: white;
}

.menu span.active {
    border-bottom: 2px solid white;
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
}


.text-promo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: fit-content;
    gap: 3rem;
    width: 52%;
    padding: 4rem 0 0 3rem;

}

.text-promo h1 {
    text-align: start;
    font-size: 3.75rem;
    line-height: 1.1;
}

.text-promo p {
    text-align: start;
    font-size: 1.5rem;
}

.text-promo button {
    padding: 1rem 1.75rem;
    background-color: #68B738;
    font-size: 1.25rem;
    color: white;
}

.empty-promo {
    width: 35%;
}

.weight-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 0;
    padding: 5rem 8rem 0 3rem;

}

.card {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    font-family: Arial;
}

.card-header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    gap: 1rem;
}

.card-header h1 {
    font-size: 2.25rem;
    margin-left: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.card-catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem
}

.card-catalog p {
    font-size: 1.4rem;
}

.how-it-work {
    display: flex;
    flex-direction: column;
}

.how-it-work h1 {
    font-size: 3.75rem;
    line-height: 3.75;
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8rem;
}

.step {
    width: 15rem;
}

.steps p {
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.5;
    color: #444444;
    margin-top: 2rem;
}

.step-img {
    background-color: #68B738;
    width: fit-content;
    padding: 1rem;
}

.living-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.living-example h1 {
    font-size: 3.75rem;
    line-height: 3.75;
}

.example-description {
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.5;
    color: #444444;
    margin-top: 2rem;
}

.example-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 5rem;
}

.example-price {
    display: flex;
    flex-direction: row;
    gap: 8rem
}

.example-price p:first-child {
    text-transform: uppercase;
}

.example-price p {
    font-size: 1.25rem;
}

.example-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    font-family: sans-serif;
}

.weight-loss,
.time-spend {
    position: relative;
    width: 220px;
    padding: 25px 20px 30px 20px;
    border: 2px solid #CDCDCD;
    background-color: #ffffff;
    text-align: center;
}

.weight-loss p:first-child,
.time-spend p:first-child {
    font-weight: 400;
    font-size: 1.875rem;
}

.weight-loss p:last-child,
.time-spend p:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 0 12px;
    background-color: #ffffff;
    white-space: nowrap;
    font-size: 0.875rem;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.slider {
    width: 35%;
    margin-right: 8rem;
    display: block;
    margin: auto;
}

.comparison-slider {
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
}

.comparison-slider img {
    position: absolute;
    height: 100%;
    display: block;
}

.img-before {
    z-index: 1;
}

.img-after {
    z-index: 2;
    clip-path: inset(0 50% 0 0);
    transition: clip-path 0.05s linear;
    will-change: clip-path;
}

#sliderRange {
    flex: 1;
    height: 6px;
    -webkit-appearance: none;
    background-color: #DCDCDC;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

#sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #68B738;
    border-radius: 50%;
    border: 7px solid #ffffff;
    box-shadow: 0 0 3px 2px #CDCDCD;
    cursor: pointer;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.controls span {
    text-transform: uppercase;
    font-size: 1.25rem;
}

.yandex-map {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.banner {
    position: absolute;
    top: 8rem;
    left: 2rem;
    background-color: #ffffff;
    padding: 5rem;
    font-family: 'Oswald', sans-serif;
    z-index: 10;
    pointer-events: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.invite {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address p {
    font-size: 1rem;
    color: #444444;
    width: 70%;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3.5rem;
}

.text-logo {
    display: flex;
    gap: 5px;
}

.text-logo p {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.text-logo p:first-child {
    font-weight: 900;
}

.contacts-list{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.academy-logo {
    display: flex;
    gap: 1.5rem;
    font-family: Arial;
    color: #444444;
    align-items: center;
}